<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>BZqqqc2mR4VFWnr4zqy3BFUvwz1n9rUZc8IF22AeRKsEL+lKfp9sP6xdAYLR2Cui87smo4QP0mh+AKpu4isieutzG49MQVqBc7ttfzydwQCrLE1Tged4nQxq6zLj5UtNmtwLmottH3i+BhnFoQOXSsV6lJjZ34XzOrFT8LvW2OaN2uJ6G3h5KBqbuzH4yAiMFw9MDShErJjPGDwoSidHKdjggHovCjrOSBK+Ub6iAXTdQSO0F+8tDeypiGPcUGiU7eROF1MzxcE1tGiWD53lRnH1HKP9FPq3UOtBXgz1l81kNGy2pEHKl1nTkKUmgZXHMmGe6d4QLMcjvn9ny1v4qg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>rRTIy03j9saFtnO1R+eIilCzaejH4RjjGITSyy9aqqDkfTwQ4WMtYsvwmOeAPX6j</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>