################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp1/.vs/WinFormsApp1
